[Unit]
Description=Crop Circle Tracker Server
After=network.target

[Service]
Type=simple
Restart=always
User=root
ExecStart=/home/ec2-user/crop-circle-tracker-server/venv/bin/python /home/ec2-user/crop-circle-tracker-server/main.py
WorkingDirectory=/home/ec2-user/crop-circle-tracker-server/

[Install]
WantedBy=multi-user.target
